h1{
    font-family: fantasy;
    font-size: 2.1em;
    font-weight: 900;
    font-style: oblique;
    line-height: 0.25em;
    color: darkviolet;
    text-align: center;
    text-decoration: line-through;
    letter-spacing: 0.07em;
    word-spacing: 0.5em;
    text-shadow: 3px 3px black;
}

#first{
    margin-bottom: 5%;
    color: crimson;
    transform-origin: left;
    transform: scale(1,3)translate(200px,10px)rotate(45deg) rotatey(20deg) skew(20deg,10deg) scale(-1,1);
}

/* Selector Types */
/* selects all elements */
*{
    color: hotpink
}
/* all paragraphs */
p{
    color:darkgreen
}
/* ID Selector */
#first{
    color: indigo
}
/* Class Selector */
.lists{
    color: cornflowerblue
}
/* Targets only spans which are in divs */
div span{
    color: blue;
}
/* Selecting multiple */
ol, li{
    color:darkviolet
}
/* all in selectors */
table *{
    color:darkred
}
/* direct descendants */
body > p{
    border-style: double;
    border-color: black;
}
/* Any elements after */
h1 ~ p{
    background-color: black;
}
/* adjacent selectors */
h1 + p{
    border-color: blue;
}
/* Pseudo Selector */
p:hover{
    background-color: gray;
}
/* Selecting by attribute */
a[href="/HTML. CSS. JS/Exercises/Text_formatting.html"]{
    color:darkolivegreen
}
/* starting with */
a[href^="/"]:active{
    color: palegreen
}
/* after */
a[href$=".html"]:hover{
    background-color: paleturquoise;
}
/* contains */
a[href*="a"]{
    border-color: peru;
}
/* pseudo elements */
p::first-letter{
    text-decoration: overline;
}