h1{
    font-family: fantasy;
    font-size: 2.1em;
    font-weight: 900;
    font-style: oblique;
    line-height: 0.25em;
    color: darkviolet;
    text-align: center;
    text-decoration: line-through;
    letter-spacing: 0.07em;
    word-spacing: 0.5em;
    text-shadow: 3px 3px black;
}

#first{
    margin-bottom: 5%;
    color: crimson;
    transform-origin: left;
    transform: scale(1,3)translate(200px,10px)rotate(45deg) rotatey(20deg) skew(20deg,10deg) scale(-1,1);
}